go 1.26.0

use (
	./gen/go
	./pkg
	./services/analytics
	./services/bff
	./services/cart
	./services/catalog
	./services/ext-authz
	./services/fulfillment
	./services/inventory
	./services/media
	./services/notification
	./services/order
	./services/payment
	./services/pricing
	./services/review
	./services/search
)
